body{
    background-color: #000;
    overflow: hidden;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }
    
    50%{
        transform: scale(1.5); /* 150% do tamanho original*/
    }

    100%{
        transform: scale(1);
    }
}
.clickPlanets{
    color: gray;
    text-align: center;
    font-size: 15px;
    animation: pulse 3s ease-in-out infinite;
    padding-top: 30px;
}

#test{
    background-color: white;
    border-radius: 50%;
}

.backButton{
    width: 100px; 
    height: 100px; 
    background-image: url('../Files/back.png');
    background-size: cover; /* ajusta a imagem ao tamanho do botão */
    border-radius: 80%;
    cursor: pointer;
    transition: 0.3s;
}
.backButton:hover{
    background-color: gray;
}


.simulationButton{
    border: none;
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(17, 86, 102);
    color: #ffff;
    position: absolute;
    margin-top: 38%;
    margin-left: 9.5%;
    transition: 0.3s;
}
.simulationButton:hover{
    background-color: gray;
}